<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

you can get Python to tell you the type of an expression by using the built-in type() function. You'll notice that Python refers to integers as int, floats as float, and character strings as str.

In [27]:
type(-2)

int

In [36]:
type(1)

int

In [28]:
type(-3.4)

float

In [2]:
type(0.5)

float

In [15]:
type(True)

bool

In [16]:
type(False)

bool

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [31]:
# Convert a string into an integer

int('1')

1

In [41]:
int(2.0)

2

Converting integers to floats
Let's cast integer 2 to float:

In [34]:
float(4)

4.0

In [35]:
type(float(2))

float

Converting numbers to strings
If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [42]:
str(1)

'1'

In [43]:
str(1.2)

'1.2'

Boolean data type
Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

In [37]:
int(True)

1

In [38]:
bool(1)

True

In [39]:
int(False)

0

In [40]:
bool(0)

False

In [21]:
print('Hello, Python!')

Hello, Python!

In [23]:
# check the python version and also see this is a comment
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 18:29:29)
[Clang 12.0.0 ]

<h3 id="python_error">Does Python know about your error before it runs your code?</h3>

Python is what is called an <em>interpreted language</em>. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

In [26]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [46]:
# Use quotation marks for defining string or Use single quotation marks for defining string


"Michael Jackson"
'Michael Jackso'

'Michael Jackso'

A string can be a combination of spaces and digits:

In [47]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

A string can also be a combination of special characters :

In [48]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [49]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

In [54]:
name = "Michael Jackson"

In [56]:
print(name[1])

i

In [57]:
#print the space
print(name[7])

In [58]:
print(name[13])

o

<h3 id="neg">Negative Indexing</h3>

 We can also use negative indexing with strings:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center">

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [59]:
# Print the last element in the string

print(name[-1])

n

 The first element can be obtained by  index -15:

In [60]:
# Print the first element in the string

print(name[-15])

M

In [61]:
#We can find the number of characters in a string by using <code>len</code>, short for length:

len("Michael Jackson")

15

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">

In [64]:
name[0:4]

'Mich'

In [65]:
name[4:9]

'ael J'

In [67]:
name[8:16]

'Jackson'

In [71]:
# Get every  element. The elments on index 1, 2, 3, 4, 5 ...
name[::1]

'Michael Jackson'

In [72]:
# Get every second element. The elments on index 1, 3, 5 ...
name[::2]

'McalJcsn'

In [73]:
# Get every second element in the range from index 0 to index 15
name[0:15:2]

'McalJcsn'

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [75]:
# Concatenate two strings

statement = name +  "is the best"
statement

'Michael Jacksonis the best'

In [76]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [77]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [78]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

Similarly, back slash  "t" represents a tab:

In [79]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

 If you want to place a back slash in your string, use a double back slash:

In [80]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [81]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [82]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [83]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsFind.png" width="600" align="center">

In [84]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [85]:
# Find the substring in the string.

name.find('Jack')

8

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [86]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

<b>Python has a set of built-in methods that you can use on strings.</b>

You can find them in this link <a href ="https://www.w3schools.com/python/python_ref_string.asp"> The W3Schools page</a>